body header .grape {
  background: #6d2a91;
}

body main #about {
  background-image: url('../img/top-bg.jpg');
  background-position: center center;
  background-size: cover;
  flex: 0 !important;
}

body main #about #content {
  margin-bottom: 3rem;
}